.aboutscreen {
  margin: 15px;

  h1 {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 14px;
    text-align: center;
  }

  p {
    font-size: 18px;
  }

  .loxlogo {
    margin: auto; 
    display: block;
    width: 100px;
  }
}