ion-datetime {
  --background: var(--ion-card-background, #fbfbfb);
  --background-rgb: var(--ion-card-background-rgb, 251, 251, 251);
}

ion-alert {
  --background: var(--ion-card-background, #fbfbfb);
}
