.history-list {
  padding-top: 0;
  padding-bottom: 0;
}

.item-header {
  font-size: 18px;
}

.item-body {
  font-size: 18px;
  --background: var(--ion-background-color, #f3f3f3);
}

.text-time {
  color: var(--ion-color-secondary, #9d9e9e);
  padding-right: 10px;
}

.text-descr {
  position: absolute;
  left: 55px;
}

.grid-c {
  height: 100% !important;
}

.row-c {
  height: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}
